
<div class="form-group">
                  Başlangıç <input i18n-placeholder type="text" class="form-control" style="width:60px;" required [(ngModel)]="startYear" placeholder="Yıl" name="startYear" id="startYear" />
                  <input i18n-placeholder type="text" class="form-control" style="width:40px;" required [(ngModel)]="startWeek" placeholder="Hafta" name="startWeek" id="startWeek" />
              </div>
              <div class="form-group">
                  <label for="endYear">
                      <span i18n>Bitiş     </span>
                      <input i18n-placeholder type="text" class="form-control" style="width:60px;" required [(ngModel)]="endYear" placeholder="Yıl" name="endYear" id="endYear" />
                  </label>
                  <input i18n-placeholder type="text" class="form-control" style="width:40px;" required [(ngModel)]="endWeek" placeholder="Hafta" name="endWeek" id="endWeek" />
              </div>


    <!--<div class="form-group">
        Başlangıç <input i18n-placeholder type="text" class="form-control" style="width:60px;" required [(ngModel)]="startYear" placeholder="Yıl" name="startYear" id="startYear" />        
        <input i18n-placeholder type="text"  class="form-control" style="width:40px;" required [(ngModel)]="startWeek" placeholder="Hafta" name="startWeek" id="startWeek" />
    </div>
    <div class="form-group">
        <label for="endYear">
            <span i18n>Bitiş     </span>
            <input i18n-placeholder type="text"  class="form-control" style="width:60px;" required [(ngModel)]="endYear" placeholder="Yıl" name="endYear" id="endYear" />
        </label>
        <input i18n-placeholder type="text" class="form-control" style="width:40px;" required [(ngModel)]="endWeek" placeholder="Hafta" name="endWeek" id="endWeek" />
    </div>
    <button (click)="clicked();">Click</button>-->


    <!--<input i18n-placeholder #startYear id="startYear" name="startYear" placeholder="Yıl" aria-describedby="start" [(ngModel)]="range.start.year" class="form-control" style="width: 60px;" />-->
    <!--<div class="input-group">
        <span i18n class="input-group-addon" id="startx">Başlangıç</span>

        <input i18n-placeholder placeholder="Yıl" aria-describedby="startx" name="startYear" id="startYear" [(ngModel)]="startYear" class="form-control" style="width: 60px;" />
    </div>
    <input i18n-placeholder placeholder="Ay" name="startWeek" id="startWeek" [(ngModel)]="startWeek" class="form-control" style="width: 40px;" />

    <div class="input-group">
        <span i18n class="input-group-addon" id="endx">Bitiş </span>
        <input i18n-placeholder placeholder="Yıl" aria-describedby="endx" name="endYear" id="endYear" [(ngModel)]="endYear" class="form-control" style="width: 50px;" />
    </div>
    <input i18n-placeholder placeholder="Ay" name="endWeek" id="endWeek" [(ngModel)]="endWeek" class="form-control" style="width: 50px;" />-->

