<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="uid" value="datalocalizer"/>
    <add key="pwd" value="6XtZ2pqk@V#TR!KR!"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PumaContext" connectionString="data source=parsdevdb;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- mapping info for Pars.Util.Puma.Data :
  
   <type type  = "Pars.Util.Puma.Data.IPumaUnitOfWork, Pars.Util.Puma.Data"
              mapTo = "Pars.Util.Puma.Data.PumaUnitOfWork, Pars.Util.Puma.Data"/>

        <type type  = "Pars.Util.Puma.Data.IPumaContext, Pars.Util.Puma.Data"
             mapTo = "Pars.Util.Puma.Data.PumaContext, Pars.Util.Puma.Data"/>

        <type type  = "Pars.Util.Puma.Data.IClaimRepository, Pars.Util.Puma.Data"
              mapTo = "Pars.Util.Puma.Data.ClaimRepository, Pars.Util.Puma.Data"/>
  -->
</configuration>