<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="pars.core" type="Pars.Core.Configuration.ParsConfigurationSection, Pars.Core" />
  </configSections>

  <pars.core platform="Service" environment="Test">
    <logging fileName="Tema.Global.LOG.txt" enabled="false" />
    <data connectionString="metadata=res://*/EntityPolicyModel.csdl|res://*/EntityPolicyModel.ssdl|res://*/EntityPolicyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMMONSQL02;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkDataSecurityTest&quot;"
          dataSecurityEnabled="false" columnSecurityEnabled="false" localizationEnabled="true" softDeleteEnabled="true" />
    <ui>
      <desktop useStartupFolder="true" />
      <view startupView="" />
    </ui>
    <security authentication="Federation" identityProvider="Federation">
    </security>
    <caching cacheProvider="Redis">
      <caching.redis servers="rediscache1:6379,rediscache2:6379,rediscache3:6379,allowAdmin=true" databasenumber="1"/>
    </caching>
  </pars.core>

  <connectionStrings>
    <add name="PumaContext" connectionString="data source=parsdevdb;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=Puma" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity>
    <containers>
      <container>

        <!--<type type ="Pars.Core.Data.IDataRepository`1[], Pars.Core.Data"
              mapTo ="Pars.Core.Data.DataRepository`1[Pars.Core.Data.IDbContext, Pars.Core.Data], Pars.Core.Data" />-->

        <type type="Pars.Core.Caching.ICacheProvider, Pars.Core" mapTo="Pars.Core.Caching.Redis.RedisCacheProvider, Pars.Core.Caching.Redis" >
          <constructor />
        </type>

      </container>
    </containers>
  </unity>

</configuration>