<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PumaContext" connectionString="data source=parsdevdb;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=Puma" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbConnection_to_be_removed_live" value="data source=COMMONSQL04;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkDataSecurityTest;"/>       
  </appSettings>
</configuration>