<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings>
    <add key="StsUrl" value="https://sts.lcwaikiki.com/sts/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ErrorUrl" value="https://puma.lcwaikiki.com/Web/Error" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="appUrl" value="/Web/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appServer" value="https://puma.lcwaikiki.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PasswordResetTemplateKey" value="SUPPLIERPORTALPARSPASSWORDRESET" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="environment" value="prod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <issuerNameRegistry>
        <trustedIssuers>
          <add thumbprint="0CFDF8FCBCAB9B060E1CA280E6482E890AE54952" name="https://stslive.lcwaikiki.com" xdt:Transform="Replace" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <wsFederation requireHttps="false" issuer="https://sts.lcwaikiki.com/sts/issue/wsfed" realm="http://localhost/" reply="https://puma.lcwaikiki.com/Web/" passiveRedirectEnabled="true" />
      <cookieHandler requireSsl="false">
      </cookieHandler>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="0CFDF8FCBCAB9B060E1CA280E6482E890AE54952" storeLocation="LocalMachine" storeName="My" isChainIncluded="false" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IAuthManagementService">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey">
              <issuer address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" binding="ws2007HttpBinding" bindingConfiguration="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" />
              <issuerMetadata address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mex" />
              <tokenRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                  <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                  <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                </trust:SecondaryParameters>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
        <binding name="WS2007FederationHttpBinding_IAuthManagementService1">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey">
              <issuer address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" binding="ws2007HttpBinding" bindingConfiguration="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" />
              <issuerMetadata address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mex" />
              <tokenRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                  <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                  <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                </trust:SecondaryParameters>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <ws2007HttpBinding>
        <binding name="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Util/Puma/Definition/DefinitionService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="DefinitionSvc.IDefinitionService" name="WS2007FederationHttpBinding_IAuthManagementService" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Util/Puma/User/UserService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="UserSvc.IUserService" name="WS2007FederationHttpBinding_IAuthManagementService" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Util/Puma/AuthManagement/AuthManagementService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService1" contract="AuthSvc.IAuthManagementService" name="WS2007FederationHttpBinding_IAuthManagementService1" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Util/Puma/Supplier/SupplierService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="SupplierSvc.ISupplierService" name="WS2007FederationHttpBinding_IAuthManagementService" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Common/EmailService/ServiceV2/EmailService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="ParsMail.IEmailService" name="WS2007FederationHttpBinding_IAuthManagementService" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Common/EmailTemplateManagement/ServiceV2/EmailTemplateService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="ParsMailTemplate.IEmailTemplateService" name="WS2007FederationHttpBinding_IAuthManagementService" />
      <endpoint address="https://parsliveapp.lcwaikiki.local/Pars.Util/Management/ServiceV2/UserServicePublic.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IAuthManagementService" contract="ParsUser.IUserServicePublic" name="WS2007FederationHttpBinding_IAuthManagementService" />
    </client>
  </system.serviceModel>

</configuration>
