<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="WS2007FederationHttpBinding"
                    maxReceivedMessageSize="100000000">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <issuer address="https://stsdev.lcwaikiki.com/sts/issue/wstrust/mixed/certificate"
                                binding="ws2007HttpBinding" bindingConfiguration="https://stsdev.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" />
                            <issuerMetadata address="https://stsdev.lcwaikiki.com/sts/issue/wstrust/mex" />
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
            <ws2007HttpBinding>
                <binding name="https://stsdev.lcwaikiki.com/sts/issue/wstrust/mixed/certificate">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/Pars.Util/Puma/Service/User/UserService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding"
                contract="UserSvc.IUserService" name="WS2007FederationHttpBinding_IDefinitionService" />
            <endpoint address="https://localhost/Pars.Util/Puma/Service/AuthManagement/AuthManagementService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding"
                contract="AuthManagementSvc.IAuthManagementService" name="WS2007FederationHttpBinding_IAuthManagementService" />
            <endpoint address="https://localhost/Pars.Util/Puma/Service/Definition/DefinitionService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding"
                contract="DefinitionSvc.IDefinitionService" name="WS2007FederationHttpBinding_IDefinitionService" />
          <endpoint address="https://localhost/Pars.Util/Puma/Service/Supplier/SupplierService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding"
                contract="SupplierSvc.ISupplierService" name="WS2007FederationHttpBinding_ISupplierService" />
          <endpoint address="https://localhost/Pars.Util/Puma/Service/DataLocalizer/DataLocalizerService.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding"
                contract="DataLocalizerSvc.IDataLocalizerService" name="WS2007FederationHttpBinding_IDataLocalizerService" />
        </client>
    </system.serviceModel>
</configuration>