<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pars.Core" version="1.1.109" targetFramework="net452" />
  <package id="Pars.Core.IdentityModel" version="1.1.8" targetFramework="net452" />
  <package id="Tema.EnterpriseLibrary.Common" version="1.0.0" targetFramework="net452" />
  <package id="Tema.EnterpriseLibrary.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Tema.EnterpriseLibrary.Validation" version="1.0.0" targetFramework="net452" />
  <package id="Tema.Practices.ServiceLocation" version="1.0.0" targetFramework="net452" />
  <package id="Tema.Unity" version="1.0.0" targetFramework="net452" />
</packages>