<div class="row">
    <msg-text i18n-value #msgWarningTitle name="msgWarningTitle" value="Uyarı"></msg-text>
    <msg-text i18n-value #msgNoRecordsFound name="msgNoRecordsFound" value="Kayıt bulunamadı"></msg-text>
    <msg-text i18n-value #msgErrorOccured name="msgErrorOccured" value="Hata oluştu!"></msg-text>
    <msg-text i18n-value #msgSuccessHeader name="msgSuccessHeader" value="Bilgi"></msg-text>
    <msg-text i18n-value #msgSuccessContent name="msgSuccessContent" value="Bilgiler başarıyla kaydedildi"></msg-text>
    <msg-text i18n-value #msgErrorHeader name="msgErrorHeader" value="Hata"></msg-text>
    <msg-text i18n-value #msgErrorContent name="msgErrorContent" value="Bilgiler kaydedilirken bir hata oluştu"></msg-text>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div i18n class="panel-heading text-bold">Localization Data</div>
            <div class="panel-body">
                <div style="float: left; width: 100%;">
                    <lcw-grid #grid1 i18n-gridTitle i18n-selectText [gridService]="gridService" 
                           enableSelectColumn="false" [autoGenerateColumns]="false" [isEditable]="false" [excelExport]="false" [showHeader]="false">
                        <lcw-grid-column fieldName="ObjectRef" [isEditable]="false" [isHidden]="true"></lcw-grid-column>
                        <lcw-grid-column fieldName="Language" [isEditable]="false"></lcw-grid-column>
                        <lcw-grid-column fieldName="Value" [isEditable]="true"></lcw-grid-column>
                    </lcw-grid>
                    <div style="margin-bottom: 10px;">
                        <button i18n class="btn btn-success" name="save" (click)="save()" style="width: 100%;">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <simple-notifications [options]="notifyOptions"></simple-notifications>
</div>