<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CacheBaseKey" value="Pars.Util.Puma:Prod:"/>
    <add key="dbConnection_to_be_removed" value="data source=LCWGlobalCoreDB;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkDataSecurityTest;"/>
    <add key="dbConnection_to_be_removed_live" value="data source=COMMONSQL04;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkDataSecurityTest;"/>
  </appSettings>
  
  <pars.core platform="Service" environment="Production" xdt:Transform="Replace">
    <logging fileName="Tema.Global.LOG.txt" enabled="false" />
    <data connectionString="metadata=res://*/EntityPolicyModel.csdl|res://*/EntityPolicyModel.ssdl|res://*/EntityPolicyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LCWGlobalCoreDB;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFrameworkDataSecurityTest&quot;" dataSecurityEnabled="false" columnSecurityEnabled="false" localizationEnabled="true" softDeleteEnabled="true" dataAuditEnabled="true"/>
    <ui>
      <desktop useStartupFolder="true" />
      <view startupView="" />
    </ui>
    <security authentication="Federation" identityProvider="Federation">
    </security>
    <caching cacheProvider="Redis">
      <caching.redis servers="rediscache1:6379,rediscache2:6379,rediscache3:6379,allowAdmin=true" databasenumber="1"/>
    </caching>
    <ioc checkConfig="OnInit"></ioc>
  </pars.core>

  <connectionStrings xdt:Transform="Replace">
    <add name="PumaContext" connectionString="data source=LCWGlobalCoreDB;initial catalog=TemaGlobalCoreV1;integrated security=True;MultipleActiveResultSets=True;App=Puma" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel xdt:Transform="Replace">

    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="Ws2007FederationHttpBindingServer"
                 closeTimeout="00:30:30" openTimeout="00:30:30" receiveTimeout="00:30:30" sendTimeout="00:30:30"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey">
              <issuer address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mixed/certificate" binding="ws2007HttpBinding" bindingConfiguration="Ws2007HttpBindingStsCertificate"/>
              <issuerMetadata address="https://stslive.lcwaikiki.com/sts/issue/wstrust/mex"/>
            </message>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </ws2007FederationHttpBinding>

      <ws2007HttpBinding>
        <binding name="Ws2007HttpBindingStsCertificate" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="http" binding="ws2007FederationHttpBinding" bindingConfiguration="Ws2007FederationHttpBindingServer"/>
    </protocolMapping>

    <extensions>
      <behaviorExtensions>
        <add name="standardErrorLogging" type="Pars.Core.Service.StandardErrorLoggingBehavior, Pars.Core.Service" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="Always"/>
          <serviceCredentials useIdentityConfiguration="true">
            <serviceCertificate findValue="0CFDF8FCBCAB9B060E1CA280E6482E890AE54952" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
          <standardErrorLogging />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris mode="Never"/>
      <certificateValidation certificateValidationMode="None" revocationMode="NoCheck"/>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="0CFDF8FCBCAB9B060E1CA280E6482E890AE54952" name="https://stslive.lcwaikiki.com" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
</configuration>