<div class="container" style="color:#fff;font-weight:300;font-family:'Ubuntu',sans-serif">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-4 text-center" style="background: red">
            <div class="col-md-12">
                <i class="typcn typcn-info" style="font-size:150px;"></i>
            </div>
            <div class="col-md-12">
                <img src="app/static/images/lcwlogo-large.png" />
            </div>
            <div class="col-md-12" style="padding:20px 0;">
                <span i18n class="fnt-s20">HATA OLUŞTU</span>
            </div>
            <div i18n class="col-md-12" style="padding:30px 0;">
                Oopps:( Tahmin edemediğimiz bir hata oluştu. En kısa sürede düzelteceğiz.
            </div>
        </div>
    </div>
</div>