@{
    ViewData["Title"] = "Home Page";
}
<my-app>
    <div style="position: absolute; top: 50%; left: 50%; width: 350px; height: 100px; margin-left: -180px; margin-top: -255px;">        
        <img src="~/app/common/images/spinner200.gif" />
    </div>
</my-app>
